<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" colors="true" processIsolation="false" stopOnFailure="false" bootstrap="./vendor/autoload.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" cacheDirectory=".phpunit.cache" backupStaticProperties="false">
  <testsuites>
    <testsuite name="Lamoda metrics tests">
      <directory>./tests/</directory>
    </testsuite>
  </testsuites>
  <php>
    <ini name="error_reporting" value="-1"/>
    <env name="SHELL_VERBOSITY" value="-1"/>
    <env name="KERNEL_CLASS" value="Lamoda\Metric\MetricBundle\Tests\Fixtures\TestKernel"/>
    <env name="APP_ENV" value="test"/>
    <env name="APP_DEBUG" value="1"/>
  </php>
  <source>
    <include>
      <directory>./src/</directory>
    </include>
    <exclude>
      <directory>./build/</directory>
      <directory>./vendor/</directory>
      <directory>./tests/</directory>
    </exclude>
  </source>
</phpunit>
